/*
Tanner Kidwell
10/4/21
FitForFunFitnessClub
*/
body {
    background-color: white;
    font-family: "Monaco", Arial, Helvetica, sans-serif;
    color:black;
    display: grid;
    text-align: center;
}

h1 {
    font-size: 50px;
}

p2 {
    font-size: 20px;
}

h2 {
    padding: 20px;
    font-size: 30px;
}

h3 {
    padding: 20px;
    font-size: 30px;
}

nav ul {
    display: flex;
    list-style:none;
    background: black;
}

nav a {
    float: left;
    color: rgb(255, 255, 255);
    font-family: "Monaco", Arial, sans-serif;
    font-weight: bold;
    display: block;
    padding: 25px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3%;
    width: 100%;
    background-color: rgba(58, 49, 51, 0.39);
    color: black;
    text-align: center;
}

.Logo {
    top:0.5em;
    left: 0;
    margin: 0;
    text-align: center;
}

/* declare a 7 column grid on the table */
#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: #000000;  
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar td {
	min-height: 180px;
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	padding: 4px;
	background: #333;
	color: #fff;
	width: 20px;
	border-radius: 50%;
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar .event {
  flex: 0 0 auto;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}